[submodule "src/osg"]
	path = src/osg
	url = https://github.com/rpavlik/osg.git
[submodule "src/libpng-12"]
	path = src/libpng-12
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/libxml2"]
	path = src/libxml2
	url = git://git.gnome.org/libxml2
[submodule "src/giflib-4.2"]
	path = src/giflib-4.2
	url = git://git.code.sf.net/p/giflib/code
